<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="css/style.css">
		<link href="images/favicon.ico" rel="shortcut icon">
		<title>First Blog1</title>
	</head>

	<body>

		<div class="container">
			<form class="form" action=" url 'search_titles' ">
				<input type="text" name="search">
				<input	type="submit" value="Go">
			</form><br/>
			<h1>First blog</h1>
			<hr />
			{% for post in posts %}
				<div class="post">
					<h2>{{ post.object.title }}</h2>
					<h3>Posted on {{ post.object.timestamp }} by {{ post.author }}</h3>
					<p>{{ post.bodytext }}</p>
				</div>
				<hr />
			{% endfor %}		
		</div>

	</body>
</html>